<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/booking/create}" th:object="${reservation}" method="post">
    <p>First Name: <input type="text" th:field="*{firstName}" required/></p>
    <p>Last Name: <input type="text" th:field="*{lastName}"  required/></p>
    <p>Reservation time: <input type="time" th:field="*{reservationDate}"/></p>
    <select class="form-control" th:field="*{selectedId}" >
        <option value="0">Select Name</option>
        <option th:each="operator : ${allUsers}" th:value="${operator.getId()}" th:text="${operator.getName()}"></option>
    </select>
    <p><input type="submit" value="Submit" /> </p>
</form>
</body>
</html>